:root {
    --glass: rgba(255, 255, 255, 0.03);
    --glass-border: 1px solid #ffffff9e;
    --accent: #3b82f6;
    --text: #ffffff;
    --muted: rgba(255, 255, 255, 0.4);
    --radius: 28px;
    --player-shadow:  0 50px 100px -20px rgba(0, 0, 0, 0.8) ;
    --sk-shadow: -2px -6px 20px 0px rgb(0 0 0 / 15%); 
    --sk-cyan: #2db8b6;
    --sk-white: #fbfbfc ;
    --sk-linear:  linear-gradient(to bottom, #eeeeee59 0%, #ffffff6b 70%, #ffffff59 100%);
    --list-width: min(85vw,1200px);
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    background: var(--sk-white);
    font-family: "Cairo", sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    color: black;
}
#archive-bar {
  position: sticky;
  top: 0;
  /*background: #f5f5f5;*/
  background: #2559581f;
  color: #333;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-size: 11px;
}
#archive-bar button {
  background: none;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  color: black !important;
}


.intro {
    text-align: center;
    margin: 24px auto 16px;
}
.intro img {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
}
.intro p {
    color: #646464;
    font-size: 0.95rem;
    font-weight: 300;
    margin: 0;
    display: none;
}
a.topbar-hit {
    display: contents;
}
.logo {
    width: 6em;
    height: auto;
    margin: 0;
    display: block;
    opacity: 0.8;
    position: fixed;
    border-radius: 50%;
    left: 2em;
    box-shadow: var(--sk-shadow);
    z-index: 9;
}
.logo:hover {
    opacity: 1;
    box-shadow: var(--player-shadow);
}
img.banner {
    height: 7em;
    margin-top: -10px;
}
img.cover {
    background: var(--glass);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border:  var(--glass-border);
    border-radius: var(--radius);
    opacity: .9;
    box-shadow: var(--player-shadow);
    width: var(--list-width);
} 

#bgBackdrop {
    position: fixed;
    inset: -10%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: blur(100px) brightness(0.25);
    transition: background-image 1.5s ease-in-out;
}
.topbar {
    display: flex;
    flex-direction: column;
    padding: 30px 40px 15px;
    gap: 15px;
}
h1, h2 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
}
h2 {
    /*margin-top: -25px;*/
    margin-top: -10px;
}
.layout {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 40px 60px;
    /*max-width: 1400px;*/
    margin: 0 auto;
}
.nowPlaying {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    align-items: center;
}
.npTitle {
    font-size: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    line-height: 1;
}
.npTitle span {
    font-size: 3em;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    margin-right: 20px;
    font-style: italic;
    line-height: 1;
    color: var(--sk-cyan);
}
.npMeta {
    font-size: 1.1em;
    color: #131313;
    padding: 1em 0 0 0;
    text-align: center;
    line-height: 1.2;
}
.playerFrameWrap {
    width: 100%;
    height: 40vh;
    background: #000;
    border-radius: var(--radius);
    overflow: hidden;
    border: var(--glass-border);
    box-shadow: var(--player-shadow);
    width: var(--list-width);
    margin: auto;
}
.playerFrameWrap iframe, #player {
    width: 100% !important;
    height: 100% !important;
    display: block;
}
.list {
    background: var(--glass);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: var(--glass-border);
    border-radius: var(--radius);
    padding: 20px;
    width: var(--list-width);
    margin: auto;
    overflow: hidden;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding-bottom: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    background: transparent;
    border-radius: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}
.card:hover {
    background: rgba(255, 255, 255, 0.04);
}
.card.active {
    background: white; 
    color: black;
    box-shadow: var(--player-shadow);
}
.card img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 12px;
}
.cardTitle {
    font-size: 12px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    opacity: 0.7;
}
.cardRank {
    font-size: 1.2em;
    font-weight: 700;
    /*color: #2db8b6;*/
}
.cardRank span {
    /*font-size: 0.7em;*/
    opacity: 0.6;
    margin-left: 4px;
}
.card.active .cardRank, .card.active .cardRank span {
    color: var(--sk-cyan);
}
/* Footer layout wrapper */

.footer-wrap {
    max-width:  70vw ;
    margin: 0 auto;
}
/* Description: bilingual-ready */

.site-description {
    max-width: min(90%,900px);
    margin: 0 auto 40px;
    font-size: 13px;
    line-height: 1.15;
    color: #222;
    text-align: center;
    font-weight: 300;
}
/* Arabic + English blocks */

.lang-ar {
    direction: rtl;
    text-align: right; 
}
.lang-en {
    direction: ltr;
    text-align: left; 
}

/* Footer base */

.main-footer {
    border-top: 1px solid var(--glass-border);
    padding: 50px 40px 30px;
    color: #000;
    background: #dddddd80;
}
/* Columns */

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
/* Headings + links */

.footer-section h3 {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 16px;
    color: #139593;
}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer-links a {
    color: #222;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.7;
    transition: opacity 0.3s;
    line-height: 1.3;
}
.footer-links a:hover {
    opacity: 1;
    color: #ffffff;
    background-color: var(--sk-cyan);
    display: inline;
    width: fit-content;
}
/* Status badge */

.status-badge {
    display: inline-block;
    padding: 6px 12px;
    background: var(--glass);
    border: 1px solid var(--glass-border);
    border-radius: 8px;
    font-size: 11px;
    color: var(--accent);
}
/* Bottom line */

.footer-bottom {
    margin: 50px auto 0;
    padding-top: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 11px;
    text-align: center;
    opacity: 0.7;
}
/*overlay*/

.docOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.docCard {
    position: relative;
    width: 95%;
    height: 95%;
    background: white;
    border: 1px solid rgba(255, 255, 255, .12);
    border-radius: 16px;
    overflow: hidden;
    line-height: 1.5;
}

/* about pages */ 
.about.list { 
    background: var(--sk-linear);
    box-shadow: var(--sk-shadow); 
    margin: 2em auto 0em;
    padding: 0;
} 


.docBody {
    /*height: 100%;*/
    padding: 0em 4em; 
    /*background: var(--sk-white);*/
    /*overflow: auto;*/
    /*border-radius: 25px;*/
    /*box-shadow: var(--sk-shadow);*/
}
.docClose {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background: none;
    color: black;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
}

.hidden {
    display: none;
}

.docBody h1 {
    text-align: center !important;
    font-weight: 600;
    font-size: 1em;
    display: none;
}
.docBody h2 {
    color: gray;
    margin: 0;
    font-size: 15px;
    font-weight: 300;
}
.docBody h3 {
    font-size: 16px;
    font-weight: 500;
    color: var(--sk-cyan);
    border-top: solid;
}
.docBody h4 {
    font-size: 14px;
    font-weight: 700;
    background: #c9c9c97c;
    width: fit-content; 
}
.docBody p,  .docBody li {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}
.docBody li {
    line-height: 1.6;
}
.docBody strong { 
    font-weight: 500;
}
.md-en {
    direction: ltr;
    text-align: left;
}
.md-ar {
    direction: rtl;
    text-align: right;
}
hr {
    border: solid 1px var(--sk-cyan);
    width: 40%;
    margin: 2em auto 1em;
}


/*feedback*/
.formEmbed {
    height: 745px;
    background: #f6f6f6;
}
.docBody.feedback {
    padding: 0;
}

/* archiev page */ 
#archiveRoot 
 {
    width: var(--list-width);
    margin: 0 auto;
 }
 #archiveRoot .cover
 {
    width: 100%;
    box-shadow: 20px -20px 20px 0px rgb(0 0 0 / 15%);
    border: none;
 }
 h5.archive-links {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
    color: var(--sk-cyan) !important;
    margin: 0 0 1em;
}
table {
    font-size: 14px;
    box-shadow: var(--sk-shadow);
    border-radius: 25px;
    width: 100%;
    padding: 1em;
    border:  var(--glass-border);
    background: var(--sk-linear);
}
table img {
    width: auto;
    max-width: 70px 
} 
td {
    border-top: solid 1px white;
    border-right: 1px solid white; 
} 
td:last-child {
  border-right: none;
}
th {
    background: var(--sk-cyan);
    border-radius: 15px;
    color: white;
    display: none ;
}

/* ipad  */

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-wrap { 
        width: 90vw; 
    }
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* Mobile */

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .main-footer {
        padding: 40px 15px 24px;
    }
    .footer-content {
        gap: 30px;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    h1, h2 {
        font-size: 15px;
    }
    .logo {
        width: 3em;
    }
    img.banner {
        margin-top: -33px;
        width: auto;
    }
    img.cover {
        width: auto;
    }
    
    
    .layout {
        padding: 0 15px 40px;
    }
    .npTitle {
        font-size: 20px;
    }
    .npTitle span {
        font-size: 40px;
    }
    .playerFrameWrap {
        height: 25vh;
        width: auto;
        margin: 0 auto;
    }
    .list {
        width: 100%;
        margin: 0 auto;
        border:  none;
    }
    .npMeta {
        font-size: 13px;
        text-align: center;
    } 
    .footer-links a:hover {
        width: auto;
    }
    .docClose {
        right: 15px;
        width: 30px !important;
        height: 30px;
    } 
    .docBody {
        padding: 0em 1em;
    }
    .docBody p,  .docBody li {
    font-size: 15px;
    line-height: 1.5;
    } 

    /*archive table*/
    .archive.docBody {
        padding: 10px;
    }
    table {
        font-size: 12px;
    }
    table img {
        max-width: 60px;
    }
    thead {
        display: none; /* hide header */
    }

    tr {
        display: grid;
        grid-template-rows: auto 1fr; /* two “rows”: title + rest */
        gap: 0.2rem;                  /* space between pseudo-rows */
    }

    td.song-title {
        grid-row: 2; /* appear in the first grid row */
        grid-column: 2 / -4; /* span all columns */
        display: block;
        border:  none;
        border-bottom: 2px solid white;
        padding: 0 0 8px 0;
        line-height: 1.1;
        text-align: right;
    }

    td:not(.song-title) {
        padding: 8px 0 0 0;
        grid-row: 1;
        display: block;
        border: none;
        width: max-content;
    }

}