:root {
    --glass: rgba(255, 255, 255, 0.03);
    --glass-border: 1px solid #ffffff9e;
    /*--accent: #3b82f6;*/
    --text: #ffffff;
    --muted: rgba(255, 255, 255, 0.4);
    --radius: 28px;
    --player-shadow:  0 50px 100px -20px rgba(0, 0, 0, 0.8) ;
    --sk-shadow: -2px -6px 20px 0px rgb(0 0 0 / 15%); 
    --sk-border-shadow : 0 0 10px 0px rgb(0 0 0 / 15%);
    --sk-cyan: #2db8b6;
    --sk-yellow: #f2c846;
    --sk-white: #fbfbfc ;
    --sk-linear:  linear-gradient(to top, #eeeeee59 0%, #ffffff6b 70%, #ffffff59 100%);
    --list-width: min(85vw,1200px);
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    background: var(--sk-white);
    font-family: "Cairo", sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    color: black;
}
#archive-bar {
  position: sticky;
  top: 0;
  /*background: #f5f5f5;*/
  background: #2559581f;
  color: #333;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-size: 11px;
}
#archive-bar button {
  background: none;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  color: black !important;
}


.intro {
    text-align: center;
    /*margin: 24px auto 16px;*/
}
.intro img {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
}
.intro p {
    color: #646464;
    font-size: 0.95rem;
    font-weight: 300;
    margin: 0;
    display: none;
}
a.topbar-hit {
    display: contents;
}
.topbar {
    display: flex;
    flex-direction: row;
    padding:  10px 40px 0 ;
    gap: 15px;
    align-items: center;
    height: 6em;
    margin-top: 1em;
}
.logo {
    width: auto;
    height: 100%;
    border-radius: 50%;
    opacity: 0.8;
    display: block;
    box-shadow: var(--sk-border-shadow);
    margin: 0;
    flex:  0 0 auto; 
}
.logo-click:hover {
    opacity: 1;
    box-shadow: 5px 7px 10px 2px rgb(0 0 0 / 30%);
    cursor: pointer;
}
img.banner {
    height: 100%;    /* fills the topbar height */
    width: auto;     /* scales proportionally */
    flex: 1;         /* takes remaining width */
    object-fit: contain;
}
img.cover {
    /*background: var(--glass);*/
    /*backdrop-filter: blur(20px);*/
    /*-webkit-backdrop-filter: blur(20px);*/
    /*border:  var(--glass-border);*/
    border: none;
    /*border-radius: var(--radius);*/
    opacity: .9;
    /*box-shadow: var(--player-shadow);*/
    /*width: var(--list-width);*/
    width: 100vw;
    margin: 0;
    padding: 0;
} 

/*switcher */
.period-switcher {
    display: flex;
    justify-content: center;
    gap:  1em;
    margin: 1em auto;
}
.period-btn {
    /*display: inline-flex;*/
    border: var(--glass-border);
    color: #555;
    font-family: unset;
    font-size: 0.8em;
    border-radius: var(--radius);
    overflow: hidden;
    padding: 8px;
    display: grid;
    width: 155px;
    -webkit-appearance: none;
    background: #efefef;
    text-decoration: none;
}
.period-btn.active {
    background: var(--sk-yellow);
    /*color: white;*/
}
.period-btn:hover {
    cursor: pointer;
    box-shadow: 5px 7px 10px 2px rgb(0 0 0 / 30%);
    color: black;
}

#bgBackdrop {
    position: fixed;
    background-color: var(--sk-white);
    z-index: -1;
    display: none;
}
h1, h2 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.25;
    color: #434343;
} 
.layout {
    display: flex;
    flex-direction: column;
    gap: 25px;
    /*padding: 0 40px 60px;*/
    /*max-width: 1400px;*/
    margin: 0 auto;
}
.nowPlaying {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    align-items: center;
}
.npTitle {
    font-size: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    line-height: 1;
}
.npTitle span {
    font-size: 3em;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    margin-right: 20px;
    font-style: italic;
    line-height: 1;
    color: var(--sk-cyan);
}
.npMeta {
    font-size: 1.1em;
    color: #131313;
    padding: 1em 0 0 0;
    text-align: center;
    line-height: 1.2;
}
.playerFrameWrap {
    width: 100%;
    height: 40vh;
    background: #000;
    border-radius: var(--radius);
    overflow: hidden;
    border: var(--glass-border);
    box-shadow: var(--player-shadow);
    width: var(--list-width);
    margin: auto;
    position: relative;
    overflow: hidden;
}
.playerFrameWrap iframe, #player {
    width: 200% !important;
    height: 200% !important;
    position: relative;
    transform: translate(-25%, -15%);
    overflow: hidden;
}
.list {
    background: var(--glass);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: var(--glass-border);
    border-radius: var(--radius);
    padding: 20px;
    width: var(--list-width);
    margin: auto;
    overflow: hidden;
    margin-bottom: 2em;
    display: block;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding-bottom: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    background: transparent;
    border-radius: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}
.card:hover {
    /*background: rgba(255, 255, 255, 0.04);*/
    border: var(--glass-border);
    box-shadow: var(--sk-shadow);
}

.card.active {
    background: white; 
    color: black;
    box-shadow: var(--player-shadow);
}
.card img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 12px;
}
.cardTitle {
    font-size: 12px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    opacity: 0.7;
    height: 6em;
}
.cardRank {
    font-size: 1.2em;
    font-weight: 700;
    /*color: #2db8b6;*/
}
.cardRank span {
    /*font-size: 0.7em;*/
    opacity: 0.6;
    margin-left: 4px;
}
.card.active .cardRank, .card.active .cardRank span {
    color: var(--sk-cyan);
}
/* Footer layout wrapper */

.footer-wrap {
    max-width:  70vw ;
    margin: 0 auto;
}
/* Description: bilingual-ready */

.site-description {
    max-width: min(90%,900px);
    margin: 0 auto 40px;
    font-size: 13px;
    line-height: 1.15;
    color: #222;
    text-align: center !important;
    font-weight: 300;
}
.site-description .lang-ar,
.site-description .lang-en {
    text-align: center !important;

}
/* Arabic + English blocks */

.lang-ar {
    direction: rtl;
    text-align: right; 
}
.lang-en {
    direction: ltr;
    text-align: left; 
}

/* Footer base */

.main-footer {
    border-top: 1px solid var(--glass-border);
    padding: 50px 40px 30px;
    color: #000;
    background: #dddddd80;
}
/* Columns */

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
/* Headings + links */

.footer-section h3 {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    /*margin: 0 0 16px;*/
    color: #ffffff;
    background: #6d6c6ca8;
    width: fit-content;
    padding: 2px 6px;

}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer-links a {
    color: #222;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
    line-height: 1.3;
}
.footer-links a:hover {
    opacity: 1;
    color: black;
    background-color: var(--sk-yellow);
    display: inline;
    width: fit-content;
}
/* Status badge */

/*.status-badge {
    display: inline-block;
    padding: 6px 12px;
    background: var(--glass);
    border: 1px solid var(--glass-border);
    border-radius: 8px;
    font-size: 11px;
    color: var(--accent);
}*/
/* Bottom line */

.footer-bottom {
    margin: 50px auto 0;
    padding-top: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 11px;
    text-align: center;
    opacity: 0.7;
}
/*overlay*/

.docOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.docCard {
    position: relative;
    width: 95%;
    height: 95%;
    background: white;
    border: 1px solid rgba(255, 255, 255, .12);
    border-radius: 16px;
    overflow: hidden;
    line-height: 1.5;
}

/* about pages */ 
.about.list { 
    background: var(--sk-linear);
    box-shadow: var(--sk-shadow); 
    margin: 2em auto;
    padding: 0;
} 


.docBody {
    /*height: 100%;*/
    padding: 0em 4em; 
    /*background: var(--sk-white);*/
    /*overflow: auto;*/
    /*border-radius: 25px;*/
    /*box-shadow: var(--sk-shadow);*/
    margin-bottom: 2em ;
}
.docClose {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background: none;
    color: black;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
}

.docBody h1 {
    text-align: center !important;
    font-weight: 600;
    font-size: 1em;
    display: none;
}
.docBody h2 {
    /*color: #ffffff;*/
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2;
    margin: 2em auto 1em;
    background: #5e5e5e30;
    width: 250px;
    padding: 4px 25px;
    /*border-radius: var(--radius);*/
}
.docBody h3 {
    font-size: 16px;
    font-weight: 500;
    color: var(--sk-cyan);
} 
.docBody h4 {
    font-size: 14px;
    font-weight: 700;
    background: #c9c9c97c;
    width: fit-content; 
}
.docBody p,  .docBody li {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}
.docBody li {
    line-height: 1.6;
}
.docBody strong { 
    font-weight: 500;
}
.md-en {
    direction: ltr;
    text-align: left;
}
.md-ar {
    direction: rtl;
    text-align: right;
}
hr {
    border: solid 1px var(--sk-cyan);
    width: 40%;
    margin: 2em auto 1em;
    display: none;
}


/*feedback*/

.docBody.feedback {
    padding: 0;
}

.feedback-form {
    max-width: max(500px, 50vw);
    margin: 2em auto;
    padding: 1em 3em;
}
 
/* Intro text under header */
.feedback .form-intro {
  max-width: 700px;
  margin: 0 auto 2em;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;
  color: #444;
}

.feedback-form label {
    display: grid;
    font-size: 13px;
    font-family: 'Cairo';
    text-align: center;
    margin: 2em auto;

}
 
.feedback-form input , textarea {
    line-height: 1.5;
    border: 1px solid #8080803d;
    border-radius: 10px;
    min-height: 2em;
    padding: 8px;
}
textarea{ 
    min-height: 7em;
    /*border-radius: 20px;*/
}
 
.feedback-form button  {
    margin: 1em auto;
    display: block;
    text-align: center !important;
    background: var(--sk-yellow);
}
.feedback-form label span.lang-en,
.feedback-form label span.lang-ar {
      display: contents;
}

input:focus,
textarea:focus {
    outline: none;         
    border: 1px solid var(--sk-cyan);
    box-shadow: var(--sk-shadow);
}

/* archiev page */ 
#archiveRoot 
 {
    width: var(--list-width);
    margin: 0 auto;
 }
 #archiveRoot section {
    /*border-top: solid var(--sk-cyan);*/
    margin-top: 2%;
}

 #archiveRoot .cover
 {
    width: 100%;
    /*box-shadow: 20px -20px 20px 0px rgb(0 0 0 / 15%);*/
    /*box-shadow: 0px -10px 15px -10px rgb(0 0 0 / 15%);*/
    border: none;
 }
a:hover {
    background: var(--sk-yellow);
    color: black;
    text-decoration: none;
}

 h5.archive-links {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    /*letter-spacing: 4px;*/
    color: black; 
    margin: 0 0 1em;
}
table {
    font-size: 14px;
    /*box-shadow: var(--sk-shadow);*/
    box-shadow: 0px 10px 15px -10px rgb(0 0 0 / 15%); 
    border-radius:var(--radius) ; 
    width: 100%;
    padding: 1em;
    /*border:  var(--glass-border);*/
    border: none ;
    background: var(--sk-linear);
    /*background: ;*/
}
table img {
    width: auto;
    max-width: 70px 
} 
td {
    border-top: solid 2px #fff;
    padding: 4px 0px;
}
/*
td:last-child {
  border-right: none;
}
*/
th {
    background: var(--sk-cyan);
    border-radius: 15px;
    color: white;
    display: none ;
}

.hidden { 
    display: none !important; 
} 

/******* RESPONSIVE ELEMENTS **********/ 
/* ipad  */
/** Medium: 768px – 1200px */
@media (min-width: 600px) and (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-wrap { 
        width: 90vw; 
    }
    .footer-content {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-links a {
        font-size: 13px;
    }
}

/* phone */ 
/* Small: 600px – 767px */
/*@media (min-width: 600px) and (max-width: 767px) {
    }*/


/* X-Small: under 600px */
@media (max-width: 599px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .main-footer {
        padding: 40px 15px 24px;
    }
    .footer-content {
        gap: 30px;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    h1, h2 {
        font-size: 18px;
    }
    .titlebar {
        margin-top: 2em; 
    }
    .topbar {
        height: 4em;
      
    } 
    img.cover {
        margin: 16px 0 0;
    }
    .layout {
        padding: 0 15px 40px;
    }
    .npTitle {
        font-size: 20px;
    }
    .npTitle span {
        font-size: 40px;
    }
    .playerFrameWrap {
        height: 25vh;
        width: auto;
        margin: 0 auto;
    }
    .playerFrameWrap iframe, #player {
        width: 150% !important;
        height: 150% !important;
        position: relative;
        transform: translate(-15%, -15%);
    }   
    .list {
        width: 100%;
        margin: 0 auto;
        border:  none;
    }
    .npMeta {
        font-size: 13px;
        text-align: center;
    } 
    .footer-links a:hover {
        width: auto;
    }
    .footer-section h3 {
        margin: 4px auto;
    }
    .docClose {
        right: 15px;
        width: 30px !important;
        height: 30px;
    } 
    .docBody {
        padding: 0em 1em;
    }
    .docBody p,  .docBody li {
    font-size: 15px;
    line-height: 1.5;
    } 

    /*archive table*/
    .archive.docBody {
        padding: 10px;
    }
    h5.archive-links { 
        font-size: 13px;
    }
    table {
        font-size: 12px;
    }
    table img {
        max-width: 60px;
    }
    thead {
        display: none; /* hide header */
    }

    tr {
        display: grid;
        grid-template-rows: auto 1fr; /* two “rows”: title + rest */
        gap: 0.2rem;                  /* space between pseudo-rows */
        border-top: solid 2px white;
    }

    td.song-title {
        grid-row: 2; /* appear in the first grid row */
        grid-column: 2 / -4; /* span all columns */
        display: block;
        border:  none;
        /*border-bottom: 2px solid white;*/
        padding: 0 0 8px 0;
        line-height: 1.1;
        text-align: right;
    }

    td:not(.song-title) {
        padding: 8px 0 0 0;
        grid-row: 1;
        display: block;
        border: none;
        width: max-content;
    }

    .intro { 
        text-align: unset; 
    }

    .period-switcher {
        display: inline-grid;
        border-left: 8px solid var(--sk-cyan);
        padding: 0 12px;
        justify-items: start; 
        margin-left: 3em;
    }
    .period-btn { 
        text-align: left; 
    }
}     


/*# big screens */
 
/* --- Extra Wide Screens (>= 1800px) --- */
@media (min-width: 1800px) {
    .layout {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-template-areas: 
            "nav nav"
            "intro list"
            "nowPlaying list"
            "player list";
        gap: 20px 40px; 
        max-width: 1700px;
        margin: 0 auto;
        padding: 20px;
        align-items: start;
    }

    .period-switcher {
        grid-area: nav;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .intro { 
        grid-area: intro; 
        margin: 0; 
    }

    .intro .cover {
        width: 100% !important;
        max-width: 100% !important;
        height: 220px;
        object-fit: cover;
        border-radius: var(--radius);
        margin-bottom: 0;
    }

    .nowPlaying { 
        grid-area: nowPlaying; 
        margin: 0; 
        padding-top: 10px; 
    }

    .player { 
        grid-area: player; 
        margin: 0; 
    }

    .playerFrameWrap {
        width: 100% !important;
        height: 400px;
        margin: 0;
    }

    .list-main {
        grid-area: list;
        position: sticky;
        top: 20px;
        height: fit-content;
        width: 100% !important;
        margin: 0;
        /* Preserving your original list appearance */
        background: var(--glass);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: var(--glass-border);
        border-radius: var(--radius);
        padding: 20px;
    }

    /* Sets the grid inside list-main to 3 columns */
    .list-main .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 15px;
    }
} 